body {
  background-color: #fef9f8;
}

body,
html {
  height: 100%;
  margin: 0;
}

/* Envolves entire page */
.app-router {
  display: flex;
  flex-direction: column;
  /* Sets minimum height to 100% of the viewport height */
  min-height: 100vh;
}

/* Envolves all page content (all pages) */
.app-content {
  min-height: 100vh; /* Needs this so all pages will have same height */
  position: relative;
}

/* Envolves all content of pages except header and footer */
.app-container {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 4rem; /* Same as footer height */
}
