.footer {
  /* Sets footer to bottom of page */
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4rem; 
  padding: 15px;
  background-color: #183a1d;
  opacity: 0.9;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  font-size: 18px;
  margin-top: 130px;
  flex-shrink: 0; /* This prevents the footer from shrinking if there's a lot of content */
}

.footertext {
  color: #f0a04b;
  font-family: 'Luckiest Guy', cursive;
  margin-top: 5px;
}