.main-container {
  width: 90%;
  margin: 0 auto;
  padding-top: 20px;
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.search-container input {
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  margin-right: 10px;
}

.search-container select {
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.farmer-card {
  background-color: #bcc7bc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 20px;
  border-radius: 4px;
  width: 300px;
  margin-bottom: 20px;
}

.avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
}

.name {
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
}

.location {
  margin-top: 5px;
  font-style: italic;
}

.description {
  margin-top: 10px;
}

.rating {
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: bold;
  color: #183a1d;
  display: flex;
  align-items: center;
}

.rating span {
  margin-right: 5px;
}

.view-posts-btn {
  margin-top: 10px;
  border-radius: 0.5em;
  background-color: #f0a04b;
  color: #fff;
  border: none;
  padding: 8px 16px;
  margin-top: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none;
}

.view-posts-btn:hover {
  background-color: #f6c453;
}

.star-icons {
  color: #f0a04b;
}

.main-title {
  font-size: 2em;
  color: #010801;
  margin-bottom: 30px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.icon {
  font-size: 1.3em;
  color: #76b041;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.main-title .icon {
  color: #63b365;
  margin: 0 10px;
  vertical-align: middle;
  transition: transform 0.5s;
}

.main-title .icon:hover {
  transform: scale(1.2);
}
