.main-container {
  width: 90%;
  margin: 0 auto;
  padding-top: 20px;
  background-color: #fafaf8;
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;

}

.search-container input {
  transition: all 0.3s ease-in-out;
   box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
}

.search-container input:focus {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

.search-container input,
.search-container select {
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #183a1d;
  margin-right: 10px;
}


.farmer-card {
  background-color: rgba(163, 183, 154, 0.7); 
  border: 1px solid rgba(255, 255, 255, 0.3); 
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); 
  backdrop-filter: blur(10px); 
  -webkit-backdrop-filter: blur(10px); 
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  margin: 20px;
  transition: transform .2s;
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
}

.farmer-card:hover {
  transform: scale(1.02); 
}
.name {
  font-size: 22px;
  font-weight: bold;
  margin-top: 10px;
  color: #183a1d;
  background: linear-gradient(45deg, #343a34, #5e615a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.location {
  margin-top: 5px;
  font-style: italic;
  color: #0e0d0d;
  margin-bottom: 10px;
}

.description {
  margin-top: 10px;
  font-size: 16px;
  color: #333;
}

.view-posts-btn {
  margin-top: auto; 
  border-radius: 0.5em;
  background-color: #f0a04b;
  color: #fff;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none;
}

.view-posts-btn:hover {
  background-color: #f6c453;
}

.main-title {
  font-size: 2em;
  color: #183a1d;
  margin-bottom: 30px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.icon {
  font-size: 1.3em;
  color: #f0a04b;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.main-title .icon {
  color: #63b365;
  margin: 0 10px;
  vertical-align: middle;
  transition: transform 0.5s;
}

.main-title .icon:hover {
  transform: scale(1.2);
}

