.login-page {
  color: #301008; 
}

.login-card {
  background-color: rgba(255, 255, 255, 0.8);
  color: #301008; 
  border-radius: 15px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.btn-custom {
  background-color: #dc7027; 
  color: white;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.btn-custom:hover {
  background-color: #b6c48e; 
  color: white;
}

.signup-link {
  color: #dc7027; 
}

.signup-link:hover {
  color: #b6c48e; 
}
