.signup-page {
  
  color: white;
}

.signup-card {
  background-color: #e1eedd;
  color: #183a1d;
}

.btn-custom {
  background-color: #f0a04b;
  color: white;
  border: none;
}

.btn-custom:hover {
  background-color: #D76F30;
  color: white;
}

.login-link {
  color: #f0a04b;
}

.login-link:hover {
  color: #D76F30;
}
